@import "tailwindcss";
@font-face {
    font-family: "Jeju";
    src:url('/font/jejumyeongjo/JejuMyeongjo-Regular.ttf')
}

@font-face {
    font-family: Roadrage;
    src: url('/font/Road_Rage/RoadRage-Regular.ttf');
}
@font-face {
    font-family: Roboto;
    src: url('/font/Roboto/static/Roboto-Thin.ttf');
}
@font-face {
    font-family: RobotoR;
    src: url('/font/Roboto/static/Roboto-Regular.ttf');
}
@font-face {
    font-family: Alasti;
    src: url('/font/Alatsi/Alatsi-Regular.ttf');
}


@media print {
    body {
      -webkit-print-color-adjust: exact; /* Safari & Chrome */
      print-color-adjust: exact; /* Modern browsers */
      visibility: hidden;
    }
  
    #conclave{
    visibility: visible;
    position: absolute;
    top: 0;
    left: 100 ;
    width: 300px;
    background: linear-gradient(to bottom, #133D44, #031E21) !important;
    color: white; /* Ensure text remains readable */
    }
  }
  
  